

body {
    display: block;
    margin: 8px;
}





.doc-img {
    width: 400px;
    height: 500px;
}


.analytics-img {
    transform: scale(.7, 0.7);
}


.copyright-txt {
    text-align: center;
}

footer {
    display: block;
}